html {
	height:100%;
}
body {
	height:100%;
	color: black;
	background: gray;
	font-family:sans-serif;
	letter-spacing:0.02em;
	* {
		user-select:none;
		-webkit-user-select:none;
	}
}
#app {
	position:absolute;
	top:0;
	left:0;
	right:0;
	min-height:100%;
}
.app-component {
}
.app-start {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:10;
	display:flex;
	justify-content:center;
	align-items:center;
	background:#424242;
	color:white;
	.app-start-button {
		&:before {
			content:'START ';
			font-weight:normal;
		}
		&:after {
			content:'';
			font-weight:normal;
		}
		font-weight:bold;
		cursor:pointer;
		padding:20px;
		background:lighten(#424242,10%);
		border-radius:3px;
		&:hover {
			background:lighten(#424242,15%);
		}
	}
}
