doctype html
html
	head
		meta(charset='utf-8')
		title Slide
		meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
	body
		#app
		script#data(type='application/json')!=data
		- console.log(process.env.NODE_ENV)
		if process.env.NODE_ENV==='development'
			script __REACT_DEVTOOLS_GLOBAL_HOOK__ = parent.__REACT_DEVTOOLS_GLOBAL_HOOK__
			script(type='text/javascript' src='/app.js')
		else
			script(type='text/javascript')
				include ../lib/app.js
